/* Home page */
 
header {
    font-size: 18px;
    padding: 20px;
    background-color: #333;
    margin: 0;
    display: flex;
    justify-content: space-between;

  }
  header h1 {
    margin: 0;
    color: white;
  }

  header img {
    width: 100px;
    }


  div{
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
    width: 100%; 
  }

  div ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    width: 100%; 
    justify-content: space-around;
}


div ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;  /* Adjusted padding: 10px on top and bottom, 20px on left and right */
}




  main{
   padding: 20px;
  }

  
  .about-us{
    display: flex;
    text-align:center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
    align-items: flex-start;

  }

  .about-us h3 {
   
    padding: 10px; 
    margin-top: 0; 
}
.about-us p{
    margin-top: 0;
    text-align: left
}

.shop-now a {
    padding: 10px;
    width: 100px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;   
    margin: 20px
}

.customer-reviews  {
    display: flex;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
  
}

.review {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #ddd;
}

.review h4 {
    margin: 0;
    margin-bottom: 5px;
    background-color: #ddd;
}

.review p {
    margin: 0;
    background-color: #ddd;
}

.checked {
    color:yellow;
  }

.star-rating {
    background-color: #ddd;
    display: flex;
   align-items: center;
   justify-content: flex-start;
}

.fa-star {
    margin-right: 1px; 
  }
    
.star-rating .fa-star:nth-last-child(-n+2) {
    color: yellow;
}

.footer{
    background-color: #333;
    padding: 10px;
    margin: 0px;
    text-align: center;
    color: white;
}


/* PRODUCTS PAGE CSS*/


.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
    justify-content: center;
    padding: 20px;
    margin: 20px auto;
    background-color: #ddd;
    
  
}
* {
box-sizing: border-box;
}
   
body { 
     margin: 0; 
     padding: 0; 
 }
        
img { 
     max-width: 100%;
     height: auto; 
    }
       
 .container { 
			
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
 }
          
	
.main { 
	padding: 15px; 
	flex: 1;
   }

    
.product {
     border-radius: 10px;
     padding: 20px;
     margin: 20px 0px;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center; 
     background-color: #f9f9f9;
     transition: background-color 0.3s;
     
}
     
        
.product img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;           
 }

 .product p {
    color: #007BFF;
    font-weight: bold;
 }
        
 .product button {
    background-color: #4CAF50;
     color: #fff;
     padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
        }
        


.product button:hover {
     background-color: #45A049;
     color: #ffffff;
            

    }
.product h3 {
     margin-top: 10px;
     }

 .product:hover {
    background-color: #ffffff;
     }
     
/* made products file responsive */

        @media screen and (min-width: 769px) {
            .menu { width: 150px; }     
			.large { 
				width: 100%;
			}
			.medium { 
				width: 70%;
			}
			.small { 
				width: 30%;
			 }       
             .product-list {
                grid-template-columns: repeat(2, 1fr); /* Two images per row on larger screens */
            }
        }

        @media screen and (max-width: 768px) {
			.body { 
				flex-direction: column;
			}
            .menu ul { 
				flex-direction: row;
			 }            
            
			.large {
				width: 100%;
			}
			.medium { 
				
				width: 60%;
			}
			.small { 
				
				width: 40%;
			 } 
             .product-list {
                grid-template-columns: repeat(2, 1fr); /* Two images per row on larger screens */
            }
        }

        @media screen and (max-width: 480px) {
            .news-item header h1 { font-size: 18px; }
            .medium, .small { 
				.product-list {
                    grid-template-columns: repeat(2, 1fr); /* Two images per row on larger screens */
                }
				width: 100%;
			 }
        }
        
        .FOOTER{
            background-color: #333;
            padding: 10px;
            margin: 0px;
            text-align: center;
            color: white;
        }


/* CONTACT PAGE CSS*/


.contact {
    display: flex;
    justify-content: center;    /* Aligns horizontally using flexbox */
    align-items: center;        /* Aligns vertically using flexbox */
    background-color: #ddd;         /* medium gray background */
    padding: 20px;                   /* 20 px padding */
    margin: 20px auto;                    /* 20 px margin */
    border-radius: 10px;            /* rounds corners */
    flex-direction: column;
    max-width: fit-content;
    margin: 0 auto;             /* Center horizontally */
    margin-top: 50px
}


.contact-link:hover {
    text-decoration: underline;    /* Adds underline when hovering */
}


.contact-link {
    color: #007BFF;
    margin: 0px;
    text-decoration: none;
    transition: text-decoration 0.3s;        /* Smooth transition effect */
}


.contact-method {
    background-color: #ddd;         /* medium gray background */
    padding: 0px;                    /* 0 px padding */
    margin: 0px;                     /* 0 px margin */
    border-radius: 10px;             /* rounds corner */
    flex-direction: column;
}

.contact img {

    margin-right: auto;

}

.footer {
    background-color: #333;
    padding: 10px;
    margin: 0px;
    text-align: center;
    color: white;
}

/* Login Page CSS*/

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
      }
  
  .login label{
      display: block;
      margin: 10px;
  }
  
  .logo img {
      margin-right: auto;
  }
  
  
  .login input {
      background-color: #fff;
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
    }
    
  .login button{
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border-radius: 5px;
      margin: 10px;
      opacity: 0.5;
      text-decoration: none;
      text-align: center;
      transition: background-color 0.3s, opacity 0.3s; 
  }
  
  .login button:hover {
    background-color: #45A049;
    opacity: 1.0;
  }
  
  .login a{
      color: #007BFF;
      margin: 10px;
      text-decoration: none;
  }
  
  .login a:hover {
      text-decoration: underline; /* add underline on hover */
    }
  
    .footer {
      background-color: #333;
      padding: 10px;
      margin: 0px;
      text-align: center;
      color: white;
  }

  
    /* Add to Cart button style */
    .add-to-cart-button {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    /* Remove button style */
    .remove-button {
        background-color: gray;
        color: white;
        padding: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        
    }

    /* Change background color of Remove button on hover */
    .remove-button:hover {
        background-color: #ff0000;
    }


    #cart {
        background-color: #f2f2f2;
        padding: 20px;
        margin: 20px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        max-height: 300px; /* Limit height of the cart to allow scrolling */
        overflow-y: auto; 
    }

    
    